StarShop_orchestration/bpelContent/ValiderCarteBancaire.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://validation.bank.al24.afcepf.fr/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="ValiderCarteBancaireImplService" targetNamespace="http://validation.bank.al24.afcepf.fr/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://validation.bank.al24.afcepf.fr/"
			elementFormDefault="unqualified" targetNamespace="http://validation.bank.al24.afcepf.fr/"
			version="1.0">

			<xs:element name="validerCarte" type="tns:validerCarte" />

			<xs:element name="validerCarteResponse" type="tns:validerCarteResponse" />

			<xs:complexType name="validerCarte">
				<xs:sequence>
					<xs:element minOccurs="0" name="numeroCarte" type="xs:long" />
					<xs:element minOccurs="0" name="dateFinValidite" type="xs:dateTime" />
					<xs:element minOccurs="0" name="cryptogramme" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="validerCarteResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="validerCarteResponse">
		<wsdl:part element="tns:validerCarteResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="validerCarte">
		<wsdl:part element="tns:validerCarte" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="IValiderCarteBancaire">
		<wsdl:operation name="validerCarte">
			<wsdl:input message="tns:validerCarte" name="validerCarte">
			</wsdl:input>
			<wsdl:output message="tns:validerCarteResponse" name="validerCarteResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ValiderCarteBancaireImplServiceSoapBinding"
		type="tns:IValiderCarteBancaire">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="validerCarte">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="validerCarte">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="validerCarteResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ValiderCarteBancaireImplService">
		<wsdl:port binding="tns:ValiderCarteBancaireImplServiceSoapBinding"
			name="ValiderCarteBancaireImplPort">
			<soap:address
				location="http://localhost:8080/StarShop_Bank/services/ValiderCarteBancaire" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>